html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #c0cbf3;
  color: '#f8f9fb';
}

img {
  width: 100%;
}