/* .wrapper {
  margin-top: 40px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Разделим на 3 колонки */
  gap: 20px; /* Добавим пробелы между элементами */
  padding: 20px; /* Добавим отступы для контейнера */
}

.card {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


